@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #dca827;
  --secondary-color: #e74c3c;
  --text-color: #333;
}

header {
  padding: 0px 150px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: white;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > div > img {
  width: 100px;
}

.items {
  display: flex;
}
.items ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.items ul li a {
  font-size: 15px;
  color: black;
}
.items ul li a:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.links {
  margin-right: 10px;
}

.items > div > img {
  width: 16px;
  margin-top: 15px;
}

.cart {
  margin-left: 20px;
  padding-left: 80px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: end;
  align-items: center;
}
.cart img {
  background-color: black;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Hero section */

.hero-section {
  height: 92vh;
  background-color: red;
  background: url("assets/bg-1.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero-content {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-content h3 {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 100;
}

.hero-content h4 {
  font-size: 50px;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

.hero-content p {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.money-back {
  display: flex;
  align-items: center;
  gap: 30px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}
.money-back img {
  width: 100px;
}
.money-back div {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
}
.money-back div p {
  font-size: 20px;
}

/* product section */

.product-section {
  padding: 30px 150px;
}
.product-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  color: #222222;
  font-weight: 200;
  font-size: 30px;
}

.product-list {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.product-category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 5px;
}
.active-category {
  border-bottom: 2px solid var(--primary-color);
}

.product-category img {
  width: 17px;
}

.product-category p {
  font-size: 13px;
}

.cat-seperator {
  height: 10px;
}
.highlight-text {
  margin-top: 20px;
}

.swiper {
  width: 100%;
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.slider-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  padding-bottom: 10px;
}

.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 500px !important;
}

.slider-product:hover {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider-product:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.slider {
  overflow: visible;
  padding: 0 100px;
}

.swiper-slide img {
  width: 130px;
  height: 181px;
  object-fit: contain;
}
.swiper-slide p {
  width: 150px;
  font-size: 13px;
  text-align: center;
}

.swiper-slide .price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(182, 179, 179);
  border-bottom: 1px solid rgb(182, 179, 179);
  padding: 10px 0;
  gap: 10px;
}

.swiper-slide .price-container .price {
  color: var(--primary-color);
  font-size: 12px;
}

.swiper-slide .price-container .price-txt {
  font-size: 13px;
}

.swiper-slide .price-container p {
  /* font-size: 20px; */
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: absolute !important;
}
.swiper-button-prev::after {
  display: none;
}

.add-cart {
  display: none;
  background: black;
  color: white;
  margin: 0;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.add-cart img {
  height: 24px;
  width: 24px;
}

.show {
  display: flex;
}

/* Research certified */

.research-certified {
  padding: 40px 200px;
  background-color: rgba(220, 168, 39, 0.3);
}
.research-certified-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.research-certified-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.research-certified .circle {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.research-certified .circle .border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted gray;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.research-certified .circle .border img {
  width: 40px;
}

.research-certified .certificate-title {
  color: black;
  font-weight: 200;
}

/* latest research */
.latest-research {
  padding: 40px 150px;
}

.latest-research .latest-research-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.latest-research .latest-research-head h2 {
  color: black;
  font-weight: 200;
}
.latest-research-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.latest-research .left {
  width: 50%;
}

.latest-research .left-cover {
  width: 100%;
  height: 300px;
  background: url("assets/left-bg.png") no-repeat;
  background-size: cover;
}

.latest-research .left-cover img {
  width: 50px;
  margin: 10px;
}

.latest-research .left > p {
  margin-top: 10px;
}

.latest-research .left .desc {
  margin-top: 10px;
  opacity: 0.5;
  font-size: 12px;
}

.latest-research-container .left .left-btn {
  margin-top: 20px;
  background-color: black;
  width: fit-content;
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.latest-research-container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest-research-container .right .research-item .research-item-bg {
  width: 200px;
  height: 140px;
  background: url("assets/brain-bg.png") no-repeat;
  background-size: cover;
}

.latest-research-container .right .research-item .research-item-bg-lubricant {
  width: 200px;
  height: 140px;
  background: url("assets/lubricant.png") no-repeat;
  background-size: cover;
}

.latest-research-container .right .research-item .research-item-bg-holc {
  width: 200px;
  height: 140px;
  background: url("assets/holc-bg.png") no-repeat;
  background-size: cover;
}

.latest-research-container .right .research-item .research-item-bg img,
.latest-research-container
  .right
  .research-item
  .research-item-bg-lubricant
  img,
.latest-research-container .right .research-item .research-item-bg-holc img {
  width: 30px;
  margin: 10px;
}

.latest-research-container .right .research-item {
  display: flex;
  gap: 10px;
}

.latest-research-container .right .research-item .details .details-desc {
  opacity: 0.5;
}

.right-details-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
}

.right-details-btn img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.research-item .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: start;
}

/* Footer container */

.footer-container {
  margin-top: 40px;
}

.footer-container .footer-top {
  position: relative; /* Add relative positioning to establish a stacking context */
  width: 100%;
  height: 300px;
  background: url("assets/footer-bg-left.png") left no-repeat,
    url("assets/footer-bg-right.png") right no-repeat;
  background-size: auto, auto;
}

.footer-top-content {
  position: absolute;
  z-index: 10;
  top: 90px;
  left: 150px;
}

.footer-top-content h2 {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.footer-top-content .input-container input {
  width: 300px;
  padding: 14px 10px;
  margin-top: 20px;
  outline: none;
  border: none;
}
.footer-top-content .input-container button {
  outline: none;
  border: none;
  height: fit-content;
  padding: 14px 10px;
  background-color: #dda81b;
  margin-left: -4px;
  cursor: pointer;
}

.footer-middle-details {
  background-color: #000000;
  padding: 60px 150px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer-middle-details .details-1 {
  width: 250px;
}
.footer-middle-details .details-1 img {
  width: 200px;
}
.footer-middle-details .details-1 p {
  color: white;
  line-height: 30px;
  margin-top: 20px;
}
.footer-middle-details .details-1 .payments-logo img {
  width: fit-content;
  margin-top: 20px;
  cursor: pointer;
}

.footer-middle-details .details-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-middle-details .details-2 h3 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 200;
}

.footer-middle-details .details-2 .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-middle-details .details-2 .links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-middle-details .details-2 .address .location {
  display: flex;
  gap: 10px;
}
.footer-middle-details .details-2 .address .location .location-logo,
.footer-middle-details .details-2 .address .location .message-logo {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-middle-details .details-2 .address .location .location-logo img {
  width: 10px;
}

.footer-middle-details .details-2 .address .location p {
  color: white;
  width: 300px;
  font-size: 14px;
}
.footer-middle-details .details-2 .social-links {
  margin-top: 50px;
  cursor: pointer;
}

.footer-container .footer-copyright {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  padding: 40px 150px;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
}
.footer-container .footer-copyright p {
  color: white;
  font-weight: 200;
  cursor: pointer;
}
